#main {
    text-align: center;
}
.button {
    height:100px;
    width:100px;
    background-color:lightblue;
    margin:10px;
    float: left;
    text-align: center;
    line-height: 100px;
}
#weirdButton {
    background-color: lightyellow;
}
#submit{
    text-align:center;
}
#hello {
    font-size: 20px;
    font-weight: bolder;
}
.warning {
  font-size:30px;
  color:red;
  text-align:center;
}

.radioButton {
  padding: 15px;
  display:inline-block;

}

.alert {
  color:red;
}

#reset {
  height:20px;
  width: 64px;
  background-color:lightgrey;
  margin-top:20px;
  border:1px solid grey;
  color:black;
  border-radius: 3px;
  font-size:13px;
  text-align:center;
  line-height:20px;

}
#resetLink {
 padding: 10px 15px 10px 15px ;
  text-decoration: none;
  color:black;
}

#result {
  font-size:40px;

}
