.hand-pointer {
  cursor: pointer;
  cursor: hand;
}

.logout-button {
  margin-left: 20px;
}

.forecasted>span.value, .forecast-indicator {
  color: #D44E2B;
}

.title {
  margin-top: 12px;
  font-weight: bold;
}

.table {
  table-layout: fixed;
}

.table tr.metric td span.value {
  word-wrap: break-word;
}